/* *{
    color: red;
} */
#photopreview{
    border:1px solid black;
    max-width: 200px !important;
    height: 150px !important;
    border-radius: 10px;
    
}
#photopreview-row{
    margin-bottom: 10px;
}
#photoupload-button:hover{
    color:red

}
#imgcontainer{
    position: relative;
    width: 200px !important;
    height: 150px !important;
}
#imageprofile{
    /* position: relative; */
    width: 200px !important;
    height: 150px !important;
    margin-left: -16px;
    margin-top: -1px;
    border-radius: 10px;
    object-fit: fill;
    /*  */
}
#uidpng{
    width: 105px;
    height: 80px;
    margin-top: -30px;
    margin-left: 10px;
    transform: scale(1.6);
    object-fit:cover;
}

#Flipped {
    transform: rotateX(180deg);
}
#Content{
    transform: rotateX(-180deg);
}
#glbsearch{
    display: block;
    width: 450px !important;
}
.rounded-circle{
    width: 75px!important;
    height: 75px!important;
}
#filtercard{
    height: 60px ;
    overflow: hidden;
}
#filterhead{
    cursor: pointer;
}
#custrow{
    font-size: 8px;
}
#gender-reset{
    margin-left: 30px;
}
#state-search{
    margin-top: 10px;
}
#age-search{
    margin-left: 10px;
    margin-top: -15px;
}
#fam-search{
    margin-top: 10px;
}
#display_fam{
    margin-left:20px ;
}
#viewimg{
 
    transition: 0.3s ease-in;
}
#viewimg:hover{
    transform: scale(1.4) !important;
}